@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 80%;
  width: 100vw;
  background-image: url(../images/juiz.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process {
  background-image: url(../images/mesaaa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 60%;
  min-height: 75vh;
  display: flex;
  padding: 2rem 0 2rem 0;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(223, 213, 198, 0.8);
  z-index: 1;
}
.text_title {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.cont-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.process_cards {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  align-items: center;
  justify-content: center;
}

.process-title,
.process-text {
  color: whitesmoke;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.6);
}

.process-title {
  font-size: 200%;
}
.process-text {
  font-size: 120%;
  letter-spacing: 0.08rem;
}

.contact {
  width: 100%;
  height: 55%;
  min-height: 55vh;
  background: linear-gradient(to right, rgba(5, 5, 5, 1), rgba(39, 21, 0, 0.9));
  display: grid;
  grid: "logo logo contact" 1fr / 1fr 1fr 1fr;

  padding: 1rem;
}

.faqq p {
  text-align: justify;
}
.acontact {
  text-decoration: none;
  color: white;
}
.cont-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.logo3d {
  transform: rotateY(20deg);
  transition: transform 0.5s;
}
.logo3d:hover {
  transform: rotateY(0deg);
}
.cont-logo img {
  height: auto;
  width: 60%;
}
.botao-2 {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgba(138, 101, 51, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  max-width: 25rem;
  height: 5rem;
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
  transform-origin: center;
  will-change: transform;
}

.container_contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 1rem;
}
.contact h1 {
  font-size: 250%;
  font-weight: 500;
}
.contact p {
  font-size: 100%;
}
.cont-info {
  display: flex;
  gap: 1rem;
}

.card_1,
.card_2,
.card_3,
.card_4 {
  height: 22rem;
  width: 18%;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  grid:
    "img" 1fr
    "title" 1fr
    "text" 1fr
    "text" 1fr / 1fr;

  justify-items: center;
  padding: 1.5rem;
}

.card_1:hover,
.card_2:hover {
  transform: scale(1.05);

  transition: transform 0.3s ease;
}

.card_3:hover,
.card_4:hover {
  transform: scale(1.05);

  transition: transform 0.3s ease;
}

.card_1 {
  grid-area: card1;
}
.card_2 {
  grid-area: card2;
}
.card_3 {
  grid-area: card3;
}
.card_4 {
  grid-area: card4;
}

.img-card {
  grid-area: img;
}

.title-card {
  text-align: center;
  font-weight: 500;
  grid-area: title;
  font-size: 150%;
}
.text-card {
  text-align: center;
  grid-area: text;
  font-size: 100%;
}

.p-title {
  padding: 2rem;
  max-width: 50vw;
  z-index: 2;
}

.p1 {
  font-size: 130%;
  text-align: center;
  background: linear-gradient(#5c5c5c, #474747, #3b3b3b);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.container_title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 5rem;
  z-index: 2;
}

.back {
  z-index: 0 !important;
  padding-left: 3px;
}
.img_title {
  display: grid;
  justify-content: center;
  z-index: 2;
  height: 100%;
  max-width: 50rem;
}
.img_title img {
  max-width: 100%;
  max-height: 100%;
  grid-area: 1 / 1;
  z-index: 2;
  position: relative;
  filter: drop-shadow(0px 0px 20px #946e39);
  transition: filter 0.5s ease, scale 0.5s ease;
}
.img_title img:hover {
  scale: 1.05;
}
.button_title {
  z-index: 2;
  display: flex;
  min-height: 6rem;
  flex-wrap: wrap;
}

.botao-title {
  color: white;
  min-width: 15rem;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 1.5rem;
  font-size: 115%;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
  transform-origin: center;
  will-change: transform;
}

.botao-title:hover {
  transform: scale(1.1);
  color: black;
  background-color: white;
  border: none;
}

.botao-1 {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
  transform-origin: center;
  will-change: transform;
}
.botao-3 {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
  transform-origin: center;
  will-change: transform;
}
.botao-3:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgba(138, 101, 51, 1);
  border: none;
}
.botao-1:hover {
  transform: scale(1.1);
  color: black;
  background-color: white;
  border: none;
}
.botao-2:hover {
  transform: scale(1.1);
  color: black;
  background-color: white;
  border: none;
}
.acting {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease, height 1s ease;
}

.acting.show {
  opacity: 1;
  height: auto; /* Faz a altura expandir automaticamente */
  overflow: visible;
  padding: 2rem;
}

.faq.show {
  height: auto;
  opacity: 1;
  overflow: visible;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.acting_area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  border-radius: 1rem;
  width: 30%;
  height: 60%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
li {
  color: #202020;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(138, 101, 51, 0.7);
}
.acting-h1 {
  text-align: center;
  padding: 1rem;
  font-size: 160%;
  font-family: "Montserrat", sans-serif;
}

.acting_areas h2 {
  font-size: 150%;
}

.acting_areas li {
  font-size: 100%;
}

.help {
  letter-spacing: 0.05rem;
}
.attorney {
  display: grid;

  grid: "attorney desc" 1fr /1fr 1fr;
  width: 100vw;
  height: 70%;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  background: linear-gradient(
    to right,
    rgba(5, 5, 5, 0.92),
    rgba(105, 70, 27, 0.9)
  );
}

@media (max-width: 1000px) {
  .attorney {
    display: flex;
    flex-direction: column;
  }

  .button_title {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .botao-title {
    width: 80%;
  }

  .acting_area {
    width: 95%;
  }

  .whatsapp-button img {
    width: 4rem !important;
  }
  .botao-1,
  .botao-2,
  .botao-3 {
    text-align: center;
    font-size: 100% !important;
  }

  .attorney a {
    max-width: 100% !important;
  }
  .attorney_img {
    justify-self: center !important;
    width: 70% !important;
    height: auto !important;
    justify-content: center !important;
  }
  .attorney_text {
    justify-self: center !important;
    max-width: 90% !important;
  }

  .faq {
    min-height: 100%;
  }

  .container_faq {
    display: flex;
    flex-direction: column;
    gap: 2rem !important;
    height: auto !important;
  }

  .left_faq {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100% !important;
    padding: 1rem;
  }

  .process_cards {
    flex-direction: column;
  }
  .card_1,
  .card_2,
  .card_3,
  .card_4 {
    width: 80%;
  }
  .contact {
    grid:
      "logo" 1fr
      "contact" 1fr /1fr;
    justify-items: center;
  }
  .cont-logo img {
    width: 80% !important;
  }
}
.attorney a {
  margin: auto;
}
.attorney_img {
  grid-area: attorney;
  justify-self: end;
  height: 100%;
  width: 34rem;
  display: flex;
  padding: 2rem;

  justify-content: flex-end;
  align-items: center;
}
.attorney_img img {
  display: flex;

  object-fit: cover;
  height: auto;
  max-width: 100%;
  border-radius: 1rem;
}
.attorney_text h1 {
  font-size: 160%;
}
.attorney_text h3 {
  font-size: 100%;
}
.attorney_text p {
  font-size: 100%;
}
.attorney_text {
  grid-area: desc;
  justify-self: start;
  text-align: justify;
  padding: 1rem;
  height: 100%;
  max-width: 32rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.faq {
  width: 100vw;
  display: flex;
  align-items: center;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease, height 1s ease;
}
.container_faq {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}
.left_faq {
  height: 60%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.left_faq p {
  font-size: 100%;
}

.bar {
  background-color: #69461b;
  width: 50%;
  height: 3px;
}

.perguntas {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 100%;
}

.title-faq {
  font-size: 220%;
}

/* */

.faqq {
  max-width: 40rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #69461b;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3 {
  font-size: 120%;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 100%;
}

.faqq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faqq.active svg {
  transform: rotate(180deg);
}
.faqq svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

footer {
  width: 100vw;
  font-size: 80%;
  height: 10%;
  padding: 1.2rem;
  background-color: #131313;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
}
footer p {
  max-width: 70rem;
}

.whatsapp-button {
  position: fixed;
  bottom: 30px; /* Distância do fundo da tela */
  right: 30px; /* Distância da lateral direita da tela */
  z-index: 3; /* Garante que o botão fique acima de outros elementos */
}

.whatsapp-button img {
  width: 80px; /* Largura do ícone */
  height: auto; /* Mantém a proporção do ícone */
  border-radius: 50%; /* Faz o ícone redondo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destaque */
  transition: transform 0.3s ease; /* Transição suave para efeito de hover */
}

.whatsapp-button:hover img {
  transform: scale(1.1); /* Aumenta o ícone quando o mouse passa por cima */
}
